
<div class="jumbotron">
	<div class="container">
	<H1 id="titulo1" class="titulos">Titulo</H1>
	<H2>Subtitulos</H2>

	<p> parrafo</p>

	<H3>Subtitulo</H3>  
	<a href="">
		<a href="https://www.facebook.com/" class="btn btn-default ">  Facebbok</a>
		<span class="glyphicon glyphicon-fire" style="color:orange"></span>
	</a>
	</div>
</div>
<div class="container">
<div class="row">

	<div class="col-md-4">
	<div class="page-header">
  		<h2 style="display: inline;"> <small>Subtext for header</small></h2>
  		<span class="label label-default">New</span>
	</div>
		
	
	<a href="https://www.facebook.com/" target ="_blank"><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</ p></a>
	</div>
	<div class="col-md-4">
	<div class="page-header">
  		<h2> <small>Subtext for header</small></h2>
	</div>
		<h2> Subtitulos </h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
	</div>
	<div class="col-md-4">
	<div class="page-header">
  		<h2> <small>Subtext for header</small></h2>
	</div>
		<h3> Subtitulos </h3>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium</p>
		<hr>
		<br>
		<img src="https://s-media-cache-ak0.pinimg.com/736x/e4/85/7a/e4857a8dcac11627b8fed861f348cd1d.jpg" class="img-responsive" >

		<img src="https://s-media-cache-ak0.pinimg.com/736x/0c/f8/5a/0cf85a95be3c9d0d8a8c9302f998433c.jpg" class="img-responsive" >

	<u>
		<li> Iterm 1</li>
		<li>Item 2</li>
		<li>item 3</li>
	</u>
	<ol>
		<li> Iterm 1</li>
		<li>Item 2</li>
		<li>item 3</li>
	</ol>	
	</div>
</div>
</div>


